@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    overflow-x:hidden;
    margin: 0;
    font-family: sans-serif;
    background-color:rgb(131, 51, 51);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #b64e4e;
}

.icon {
    width: 200px;
    height: auto;
}

.slider {
    width: 100%;
    max-width: 100vw;
    height: auto;
    position: relative;
    overflow: hidden;
    background-color: #d6a853;
}

.slides {
    display: flex;
    width: 200%;
    height: 100%;
    transition: 0.6s ease-in-out;
}

.slides input {
    display: none;
}

.slide {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slide img {
    width: 100%;
    height: 100%;
}

.manual-navigation {
    position: absolute;
    width: 100%;
    bottom: 20px;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 10px;
    transition: 4s ease;
}

.manual.btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -50%;
}


.navigation-auto div{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div.not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: aliceblue;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: hotpink;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    text-decoration: bold;
    font-size: 25px;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px
}

.nav-branding {
    font-size: 2rem;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: dodgerblue;
}

{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ham-top {
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: white;
}

@media(max-width: 768px){
    .ham-top{
        display: block;
    }

    .ham-top.active .bar:nth-child(2){
        opacity: 0;
    }
    .ham-top.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .ham-top.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position:fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #e0ab5c;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .nav-menu.active{
        left: 0;
    }
}

.introducao {
    display: flex;          
    flex-direction: row;    
    align-items: center;    
    justify-content: space-between; 
    gap: 40px;       
    margin: 40px 60px;    
    max-width: 1600px;
    padding: 0 20px;
}

.card_title {
    font-size: 40px;
    max-width: 1600px;
    font-family: 'Roboto', sans-serif;
    color: rgb(228, 228, 228);
    margin-bottom: 20px;   
}

.card_text {
    font-size: 30px; 
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    max-width: 600px; 
}

.introducao-img {
    flex: 2;
    max-width: 1600px; 
    width: 200px;          
    height: auto;         
    order: 2;              
    border-radius: 8px;
}

@media (min-width: 1600px) {
  .introducao, .sobre, .detalhe {
    max-width: 1400px;
    gap: 80px;
  }

  .card_text, .card_text2 {
    font-size: 28px;
  }

  .card_title, .card_title2 {
    font-size: 45px;
  }

  .sobre-img, .introducao-img {
    width: 700px;
  }
}

.best_text {
    font-size: 40px;
    text-align: center;
    max-width: 1600px;
    color: white;
}

.detalhe {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 50px;
    margin: 300px auto; 
    padding: 0 20px;
    max-width: 1200px; 
    height: auto;         
    justify-items: center; 
}

.card_utau {
    background-color: #b64e4e;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card_utau img {
    width: 20%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px 8px 0 0;
}

.card_body {
    padding: 16px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
}

.card_title1 {
    height: 15px;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
}

.card_text1 {
    margin-top: 30px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.sobre {
    display: flex;          
    flex-direction: row;    
    align-items: flex-start;   
    justify-content: space-between; 
    gap: 40px;       
    margin: auto;    
    max-width: 1600px;
    padding: 0 20px;
}

.card_text2 {
    margin-top: 20px;
    font-size: 20px;
    font-family:'Roboto', sans-serif;
    color: rgb(228, 228, 228);
}

.card_title2{
    margin-top: 40px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.5;
}

.card-body2 {
    flex: 1;                
    order: 2;              
}

.sobre-img {
    margin-top: 40px;
    width: 600px;          
    height: auto;         
    order: 1;              
    border-radius: 8px;
}


footer {
    background-color: #b64e4e;
    padding: 30px 0;
    margin-top: 60px
}

.container-footer {
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}

.raw-footer {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin: 10px 0;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: white;
    padding-left: 10px;
}

.footer-col .medias-sociais {
    margin-top: 30px;
}

.footer-col .medias-sociais a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10ox 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease;
}

.footer-col .medias-sociais a i{
    font-size: 20px;
}

.footer-col .medias-sociais a:hover {
    color: blue;
    background-color: aqua;
}

.footer-col .form-sub input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: brown;
}

.footer-col .form-sub input::placeholder {
    color:beige;
}

.footer-col .form-sub button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color:aquamarine;
    border-radius: bold;
    background-color: white;
}

@media(max-width:800px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 600px) {
    .footer-col {
        width: 100%;
    }
}